html,
body {
  height: 100%;
}

body {
  color: #000;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

html body{
  .logo {
    font-size: 36px;
    line-height: 58px;
    @extend %rubik-500;
    color: $accent;
    display: flex;
    align-items: center;
    transition: all .3s;
    &__svg {
      fill: $blue;
      transition: all .3s;
    }
    &:hover .logo__svg {
      fill: $accent;
    }
    & span{
      padding-left: 12px;
    }
    &:hover{
      color: $blue;
    }
  }
}

