$accent: #436372;
$blue:  #a3bbc8;
$default: #fcd7b6;
$grey: #7b7b7b;

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}
%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}
%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}
%poppins-600{
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}
%rubik-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}
%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}
%nunito-700{
  font-family: 'Nunito-Bold', sans-serif;
  font-weight: 700;
}




@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}