@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

/* header */

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
}

.header-menu__list {
  display: flex;
  justify-content: center;
  &-item + &-item {
    margin-left: 35px;
  }
  &-link{
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    @extend %rubik-500;
    transition: all .3s;
  }
  &-link:hover{
    color: $blue;
  }
}
.header-nav {
  display: flex;
  justify-content: space-between;
  &__search {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($blue, .2);
    border-radius: 25px;
    &-link {
      transition: all .2s;
      border-radius: 25px;
    }
    &-link:hover {
      transform: scale(1.1);
    }
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 180px;
    background-color: $default;
    border-radius: 26px;
    position: relative;
    margin-left: 19px;
    overflow: hidden;
    & &-link{
      position: relative;
      height: 33px;
      width: 75px;
      transition: all .2s;
      margin: 0px 3px;
      & span {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: #fff;
        font-size: 10px;
        line-height: 17px;
        text-align: center;
        color: #243f4d;
        @extend %dmsans-400;
        position: absolute;
        top: 0px;
        right: 20px;
      }
    }
    &-link:nth-child(1){
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &-link:nth-child(2){
      width: 0px;
      border: none;
      border: 1px solid rgba(#ffffff, .4);
      font-size: 0;
    }
    &-link:nth-child(3){
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &-link:hover {
      transform: scale(1.1);
    }
  }
  &__menu {
    width: 52px;
    height: 52px;
    border-radius: 25px;
    background-color: $blue;
    margin-left: 18px;
    &-link{
      transition: all .4s;
      border-radius: 25px;
    }
    &-link:hover {
      transform: rotate(180deg);
    }
  }
  & a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.kv__inner {
  width: 100%;
  height: 817px;
}


/* footer */

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 68px;
  &-title {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
    @extend %dmsans-700;
    margin-bottom: 21px;
    cursor: default;
  }
  &-item {
    color: $grey;
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
  }
  &-item a {
    color: $grey;
    transition: all .1s;
  }
  &-item a:hover {
    color: $accent;
    font-weight: 600;
  }
  &-contact-item {
    text-transform: uppercase;
  }
  &-contact-item:first-child {
    line-height: 24px;
  }
  &-contact-item a{
    text-transform: none;
  }
  &-phone {
    display: inline-block;
    margin-top: 9px;
  }
  &-newsletter {
    max-width: 270px;
    width: 100%;
  }
  &-newsletter-descr {
    max-width: 240px;
    line-height: 24px;
    margin-bottom: 33px;
  }
  &-form {
    display: flex;
  }
  &-form-email {
    border: none;
    background-color: rgba($default, .2);
    padding: 14px;
    width: 170px;
    height: 40px;
    outline: none;
    @extend %dmsans-400;
    color: #234969;
    font-size: 12px;
    line-height: 12px;
  }
  &-form-email::placeholder {
    color: #234969;
    font-size: 12px;
    line-height: 12px;
  }
  &-form-btn {
    border: none;
    width: 100px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    background-color: $blue;
    padding: 0 2px;
  }
}
.footer__top .footer-logo {
  display: flex;
  margin-top: -20px;
  margin-bottom: 12px;
  width: fit-content;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 31px 0; 
  border-top: 1px solid #c7c7c7;
  color: $grey;
  font-size: 14px;
  line-height: 32px;
  @extend %rubik-400;
  &-nav {
    display: flex;
    &-item{
    padding: 0 14px 0 0;
      & + &::before {
        content: '|';
        padding-right: 14px;
        font-size: 16px;
        color: $grey;
      }
      &-link {
        color: $grey;
      }
      &-link:hover {
        color: $accent;
      }
    }
  }
}

.kv {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__content {
    position: absolute;
    margin-left: 300px;
    margin-top: 226px;
  }
  &__title {
    max-width: 420px;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    @extend %rubik-500;
    text-transform: uppercase;
    margin-bottom: 39px;
  }
  &__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 30px;
    color: $accent;
    @extend %rubik-400;
    margin-bottom: 34px;
  }
  &__link {
    display: block;
    width: 200px;
    height: 60px;
    padding: 26px 10px 21px 28px;
    color: #fff;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    background-color: $blue;
    position: relative;
    transition: all .3s;
  }
  &__link::after {
    content: '';
    background-image: url(../images/icons/arrow-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(2px);
    width: 23px;
    height: 10px;
    position: absolute;
    right: 20px;
    transition: all .4s;
    @keyframes translating {
      0%   { transform: translate(0, 2px); }
      50%  { transform: translate(2px, 2px); }
      100% { transform: translate(0, 2px); }
    }
  }
  &__link:hover::after {
    animation: translating .7s linear infinite;
  }
  &__link:hover{
    color: $accent;
  }
}
.slick {
  display: block;
  &-dots {
    display: flex;
    width: fit-content;
    position: absolute;
    left: 50%;
    right: 50%;
    margin: 0 auto;
    bottom: 55px;
    & button {
      border: none;
      width: 29px;
      height: 29px;
      border-radius: 15px;
      background-color: rgba(#ffffff, .3);
      font-size: 11px;
      line-height: 9px;
      color: #243f4d;
      @extend %rubik-500;
      transition: all .2s;
    }
    & button:hover{
      background-color: #ffffff;
      cursor: pointer;
    }
  }
  &-dots li + li {
    margin-left: 10px;
  }
  &-active button{
    width: 29px;
    height: 29px;
    border-radius: 15px;
    background-color: #ffffff;
  }
  &-active button:hover {
    cursor: default;
  }
}




@import 'media';
